<form [formGroup]="form">
  <div>
    <fieldset>
      <app-template-control [form]="form"
                            formControlName="name"
                            label="Name"
                            placeholder="Your name">
      </app-template-control>

      <div>
        <label for="range"> Operation range</label>
        <select name="range"
                formControlName="range">
          <option value="">Select a range</option>
          <option *ngFor="let range of ranges"
                  [value]="range.id">{{ range.name }}</option>
        </select>
        <small *ngIf="mustShowMessage('range')">{{ getErrorMessage('range') }}</small>
      </div>

      <app-template-control *ngFor="let status of statuses"
                            [form]="form"
                            formControlName="status"
                            inputType="radio"
                            [label]="status"
                            placeholder="">
      </app-template-control>
    </fieldset>
  </div>
  <button [disabled]="form.invalid"
          (click)="onSubmitClick()">Save</button>
</form>
