<form [formGroup]="form">
  <div>
    <label for="name">Name <span *ngIf="hasError('name')">㊙</span></label>
    <input type="text"
           id="name"
           name="name"
           formControlName="name"
           placeholder="Your name">
           <small *ngIf="mustShowMessage('name')" >{{getErrorMessage('name')}}</small>
  </div>
  <div>
    <label for="email">Email Address <span *ngIf="hasError('email')">㊙</span></label>
    <input type="email"
           id="email"
           name="email"
           formControlName="email"
           placeholder="Your email">
           <small *ngIf="mustShowMessage('email')" >{{getErrorMessage('email')}}</small>
  </div>
  <div>
    <label for="password">Message <span *ngIf="hasError('password')">㊙</span></label>
    <input type="text"
           id="password"
           name="password"
           formControlName="password"
           placeholder="Your password">
           <small *ngIf="mustShowMessage('password')" >{{getErrorMessage('password')}}</small>
  </div>
  <div>
    <label for="confirmPassword">Message <span *ngIf="hasError('confirmPassword')">㊙</span></label>
    <input type="text"
           id="confirmPassword"
           name="confirmPassword"
           formControlName="confirmPassword"
           placeholder="Your confirmPassword">
           <small *ngIf="mustShowMessage('confirmPassword')" >{{getErrorMessage('confirmPassword')}}</small>
  </div>
  <div>
    <label for="checkbox">Message <span *ngIf="hasError('confirmPassword')">㊙</span></label>
    <input type="checkbox"
           id="acceptTerms"
           name="checkbox"
           formControlName="acceptTerms"
           [attr.aria-invalid]="hasError('acceptTerms')"
           placeholder="Your checkbox">
           <small>{{getPasswordMatchMessage()}}</small>
  </div>
  <pre>
    {{form.errors|json}}
  </pre>
  <button [disabled]="form.invalid"
  (click)="onSave()">Save</button>
</form>
