<form [formGroup]="form">
  <div>
    <label for="name">Name <span *ngIf="hasError('name')">㊙</span></label>
    <input type="text"
           id="name"
           name="name"
           formControlName="name"
           placeholder="Your name">
           <small *ngIf="mustShowMessage('name')" >{{getErrorMessage('name')}}</small>
  </div>
  <div>
    <label for="email">Email Address <span *ngIf="hasError('email')">㊙</span></label>
    <input type="email"
           id="email"
           name="email"
           formControlName="email"
           placeholder="Your email">
           <small *ngIf="mustShowMessage('email')" >{{getErrorMessage('email')}}</small>
  </div>
  <div>
    <label for="message">Message <span *ngIf="hasError('message')">㊙</span></label>
    <input type="text"
           id="message"
           name="message"
           formControlName="message"
           placeholder="Your message">
           <small *ngIf="mustShowMessage('message')" >{{getErrorMessage('message')}}</small>
  </div>
  <button [disabled]="form.invalid"
  (click)="onSave()">Save</button>
</form>
