<form [formGroup]="form">
  <div>
    <fieldset>
      <div>
        <label for="agencyId"> Agency</label>
        <select name="agencyId"
                formControlName="agencyId">
          <option value="">Select an agency</option>
          <option *ngFor="let agency of agencies"
                  [value]="agency.id">{{ agency.name }}</option>
        </select>
        <small *ngIf="mustShowMessage('agency')">{{ getErrorMessage('agency') }}</small>
      </div>
      <app-template-control [form]="form"
                            formControlName="destination"
                            label="Destination"
                            placeholder="Destination">
      </app-template-control>
      <app-template-control [form]="form"
                            formControlName="places"
                            inputType="number"
                            label="Places"
                            placeholder="">
      </app-template-control>
      <app-template-control [form]="form"
                            formControlName="startDate"
                            inputType="date"
                            label="Start Date"
                            placeholder="">
      </app-template-control>
      <app-template-control [form]="form"
                            formControlName="endDate"
                            inputType="date"
                            label="End Date"
                            placeholder="">
      </app-template-control>
      <app-template-control [form]="form"
                            formControlName="flightPrice"
                            inputType="number"
                            label="Flight Price"
                            placeholder="">
      </app-template-control>
    </fieldset>
  </div>
  <button [disabled]="form.invalid"
          (click)="onSubmitClick()">Save</button>
</form>
